@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-list {
    padding-bottom: 15px;
    margin: 0 -5px;
}
.slick-slide > div {
    padding: 0 5px;
}

.slick-next:before,
.slick-prev:before {
    display: none;
}

.slick-next {
    z-index: 1;
    right: -18px;
}

.slick-prev {
    z-index: 1;
    left: -18px;
}

.slick-dots {
    position: inherit;
    bottom: 0;
}

.slick-arrow {
    visibility: hidden;
}

.slick-slider:hover .slick-arrow {
    visibility: visible;
}

.slick-dots li button::before {
    opacity: 1;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 100%;
    background-color: transparent;
    font-size: 0px;
    transition: all 0.2s linear;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: black;
}

a {
    transition:
        opacity 150ms linear,
        color 150ms linear,
        background 150ms linear;
}

.coupon_item::before {
    content: '';
    position: absolute;
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
}

.coupon_item::after {
    content: '';
    position: absolute;
    border-radius: 999px;
    width: 10px;
    height: 10px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    right: -6px;
}

.sold-out::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url('/src/assets/x-mark.webp') no-repeat;
    background-size: contain;
}

.popup-size::before {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5.25px solid #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -4.5px;
}

.quantity-btn {
    border: none;
    background: #fff;
    float: left;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 0;
    font-size: 20px;
    color: black;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: unset;
}

.quantity-selector {
    border: none;
    background: #fff;
    font-weight: 600;
    height: 40px;
    text-align: center;
    width: 40px;
    border-left: none;
    border-right: none;
    border-radius: 0;
    float: left;
    -webkit-appearance: none;
    font-size: 15px;
    color: black;
    padding: 0;
    outline: none;
}

.product-description ul {
    padding-left: 40px;
    margin: 13px 0;
}

.product-description li {
    margin-bottom: 7px;
    line-height: 22px;
    list-style: initial;
}

.cart-scroll::-webkit-scrollbar {
    width: 5px;
    background-color: #8b8b8b;
}
.cart-scroll::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: none;
}

.cart-dropdown::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
    top: -20px;
    left: calc(100% - 60px);
}
